<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
    <h1>Nice choice</h1>


    <% for (var x in users) { %>
        <img src="<%= users[x].image %>" alt="">
        <h3>Favorite Food: <%= users[x].favorite_food %></h3>
        <h4>age: <%= users[x].age %></h4>
        <h4>Sleeping Spots:: <%= users[x].sleeping_spots %></h4>
        <hr>
    <% } %>


</body>
</html>