<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">

</head>
<body>
    <h1>Chose your weapon</h1>
    <a  href="/corvette"> <img src="./images/corvette.jpg" alt=""></a>
    <a  href="/fordgt"><img src="./images/fordgt.jpg" alt=""></a>
    <a  href="/ferrari"><img src="./images/ferrari.jpg" alt=""></a>

</body>
</html>